quarkus:
  http:
    port: 4000
    root-path: /api
  log:
    level: INFO
  hibernate-orm:
    database:
      generation: none
  fault-tolerance:
    global:
      rate-limit:
        value: 50
      window:
        value: 10
  container-image:
    build: true
    push: true
    registry: ghcr.io
    group: ${GITHUB_OWNER}
    name: musiccollection
    tag: 7.0.0
    additional-tags: latest
    username: ${GITHUB_OWNER}
    password: ${GITHUB_TOKEN}
