name: Integration Tests

on:
  push:
  workflow_dispatch:

jobs:
  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Run integration tests
        run: ./gradlew clean test --tests "org.musiccollection.resource.*"

      - name: Upload report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: integration-test-report
          path: build/reports/tests/
          retention-days: 14
